<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mesStyles.css') }}">
</head>
<div id="reset_password">
{% extends "barre.html" %}
{% block content %}
    <h1 style='color:green'> Reset password </h1>
    <form action="" method="post">
        {{form.hidden_tag() }}
    <p>{{form.password.label}}<br>
        {{form.password(size=64)}}
        {% for error in form.password.errors %}
            <span style='color:red'>[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{form.password2.label}}<br>
        {{form.password2(size=64)}}
    </p>
        <p>{{form.submit}}</p>
    </form>
 {% endblock %}
</div>
</html>